ul.breadcrumbs {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

li.breadcrumbs-item {
  margin-right: 22px;
  margin-bottom: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #869FB5;

  &:not(:last-child) {
    &:after {
      content: '';
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.91634 13.7498L12.083 9.58317L7.91634 5.4165' stroke='%23506071' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      display: inline-block;
      position: relative;
      left: 9px;
      top: 4px;
    }
  }
}

.breadcrumbs-item__link {
  color: #506071;
}
