.section-features {
  padding-top: 80px;
  h2 {
    margin-bottom: 31px;
  }

}

.features-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  &__icon {
    margin-bottom: 20px;

    img {
      margin: 0 auto;
    }
  }

  &__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  &__divider {
    width: 80px;
    height: 2px;
    background: var(--green);
    margin: 0 auto 20px ;
  }
}

.our-features {
  padding-bottom: 8px;
  transition: all .3s ease;

  &__title {
    position: relative;
    padding-left: 44px;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 2px;
    min-height: 32px;
    .icon {
      position: absolute;
      top: 0;
      left: 0;
    }
    span:not(.icon) {
      color: var(--green);
    }

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 1.2;
    }
  }

  &__subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    font-variant: small-caps;

    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 1.2;
    }
  }

  &__divider {
    width: 80px;
    height: 2px;
    background: var(--green);
    margin: 12px 0;
  }

  &__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;

    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 1.2;
    }
  }

  &:hover {
    transform: scale(1.02);
  }
}