footer {
  width: 100%;
  margin-top: auto;
  background: #1D2935;
  padding: 40px 0 0;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-logo {
  width: 200px;

  img {
    margin-bottom: 20px;
    width: 150px;
  }

  p {
    margin-bottom: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #9EB0BE;

    span {
      color: #516981;
    }
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}

.footer-nav {
  width: calc(100% - 200px - 240px);
  padding: 0 80px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: 1200px) {
    padding: 0 40px;
  }

  @media (max-width: 998px) {
    display: none;
  }
}

.footer-nav-link {
  &__item {
    width: 50%;
    margin-bottom: 10px;
  }

  &__item-link {
    transition: all .3s ease;
    line-height: 1.2;
    &:hover {
      color: #869FB5;
    }
  }
}

.footer-contacts {
  width: 240px;

  &__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    color: #A5BFD8;
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 576px) {
    width: 100%;
    margin-top: 32px;
  }
}

.footer-contacts-link {
  margin-bottom: 12px;
  transition: all .3s ease;
  padding-left: 24px;
  background-position: left;
  background-repeat: no-repeat;
  min-height: 20px;
  display: block;
  &:hover {
    color: #869FB5;
  }

  &__address {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0003 9.58366C9.44779 9.58366 8.91789 9.36417 8.52719 8.97346C8.13649 8.58276 7.91699 8.05286 7.91699 7.50033C7.91699 6.94779 8.13649 6.41789 8.52719 6.02719C8.91789 5.63649 9.44779 5.41699 10.0003 5.41699C10.5529 5.41699 11.0828 5.63649 11.4735 6.02719C11.8642 6.41789 12.0837 6.94779 12.0837 7.50033C12.0837 7.77391 12.0298 8.04482 11.9251 8.29758C11.8204 8.55034 11.6669 8.78001 11.4735 8.97346C11.28 9.16692 11.0503 9.32038 10.7976 9.42507C10.5448 9.52977 10.2739 9.58366 10.0003 9.58366ZM10.0003 1.66699C8.45323 1.66699 6.9695 2.28157 5.87554 3.37554C4.78157 4.4695 4.16699 5.95323 4.16699 7.50033C4.16699 10.9159 7.72229 15.6011 9.2817 17.4919C9.65862 17.9489 10.342 17.9489 10.719 17.4919C12.2784 15.6011 15.8337 10.9159 15.8337 7.50033C15.8337 5.95323 15.2191 4.4695 14.1251 3.37554C13.0312 2.28157 11.5474 1.66699 10.0003 1.66699Z' fill='%231EBB5F'/%3E%3C/svg%3E%0A");
  }

  &__time {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 2C14.4184 2 18 5.5816 18 10C18 14.4184 14.4184 18 10 18C5.5816 18 2 14.4184 2 10C2 5.5816 5.5816 2 10 2ZM9.256 6.4648C9.1079 6.4648 8.96587 6.52363 8.86115 6.62835C8.75643 6.73307 8.6976 6.8751 8.6976 7.0232V11.488C8.6976 11.7968 8.9472 12.0464 9.256 12.0464H13.7208C13.7959 12.0492 13.8707 12.0369 13.9409 12.0102C14.0111 11.9834 14.0751 11.9427 14.1292 11.8907C14.1833 11.8386 14.2264 11.7761 14.2558 11.707C14.2852 11.6378 14.3003 11.5635 14.3003 11.4884C14.3003 11.4133 14.2852 11.339 14.2558 11.2698C14.2264 11.2007 14.1833 11.1382 14.1292 11.0862C14.0751 11.0341 14.0111 10.9934 13.9409 10.9666C13.8707 10.9399 13.7959 10.9276 13.7208 10.9304H9.8136V7.0232C9.8136 6.87524 9.75488 6.73333 9.65033 6.62863C9.54578 6.52394 9.40396 6.46501 9.256 6.4648Z' fill='%231EBB5F'/%3E%3C/svg%3E%0A");
  }

  &__email {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.14258 7.23129L9.75258 11.1891C9.82891 11.2288 9.91368 11.2496 9.99972 11.2496C10.0858 11.2496 10.1705 11.2288 10.2469 11.1891L17.8569 7.232V14.107C17.8569 14.7 17.63 15.2705 17.2228 15.7015C16.8156 16.1325 16.2589 16.3913 15.6669 16.4249L15.5354 16.4284H4.46401C3.87105 16.4285 3.30056 16.2016 2.86956 15.7944C2.43855 15.3872 2.17972 14.8304 2.14615 14.2384L2.14258 14.107V7.23129ZM4.46401 3.57129H15.5354C16.1284 3.57125 16.6989 3.79811 17.1299 4.20534C17.5609 4.61257 17.8197 5.16928 17.8533 5.76129L17.8569 5.89272V6.02415L9.99972 10.1099L2.14258 6.02415V5.89272C2.14254 5.29976 2.3694 4.72927 2.77663 4.29827C3.18386 3.86727 3.74057 3.60843 4.33258 3.57486L4.46401 3.57129Z' fill='%231EBB5F'/%3E%3C/svg%3E%0A");
  }

  &__phone {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.51667 8.99167C6.71667 11.35 8.65 13.2833 11.0083 14.4833L12.8417 12.65C13.075 12.4167 13.4 12.35 13.6917 12.4417C14.625 12.75 15.625 12.9167 16.6667 12.9167C16.8877 12.9167 17.0996 13.0045 17.2559 13.1607C17.4122 13.317 17.5 13.529 17.5 13.75V16.6667C17.5 16.8877 17.4122 17.0996 17.2559 17.2559C17.0996 17.4122 16.8877 17.5 16.6667 17.5C12.9094 17.5 9.30609 16.0074 6.64932 13.3507C3.99256 10.6939 2.5 7.09057 2.5 3.33333C2.5 3.11232 2.5878 2.90036 2.74408 2.74408C2.90036 2.5878 3.11232 2.5 3.33333 2.5H6.25C6.47101 2.5 6.68298 2.5878 6.83926 2.74408C6.99554 2.90036 7.08333 3.11232 7.08333 3.33333C7.08333 4.375 7.25 5.375 7.55833 6.30833C7.65 6.6 7.58333 6.925 7.35 7.15833L5.51667 8.99167Z' fill='%231EBB5F'/%3E%3C/svg%3E%0A");
  }
}


/* -----------> Copyrights */
.copyright-row {
  background: #14191F;
  padding: 8px 0;
  margin-top: 40px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  color: #516981;

  a {
    color: #516981;
    transition: all .3s ease;

    &:hover {
      color: #869FB5;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.copyright-developer {
  a {
    text-decoration: underline;
  }
}