header {
  width: 100%;
  background: #fff;

  @media (max-width: 998px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
}

.quick-top {
  display: flex;
  padding: 8px 0;

  &__left {
    display: inline-flex;
    .top-location {
      margin-right: 52px;

      @media (max-width: 768px) {
        margin-right: 12px;
      }
    }
  }

  &__right {
    margin-left: auto;
  }

  @media (max-width: 576px) {
    display: none;
  }
}

.quick-top-links {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 40px;

      @media (max-width: 768px) {
        margin-right: 12px;
      }
    }
  }

  &__item-link {
    text-decoration: none;
    font-size: 14px;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 11px 0 17px;

  .catalog-list,
  .categories-list {
    display: none;
    overflow-y: auto;
  }

  &__left {
    width: 95px;

    @media (max-width: 998px) {
      width: 40px;
    }
  }

  &__right {
    width: calc(100% - 95px);
    padding-left: 20px;

    @media (max-width: 998px) {
      width: calc(100% - 40px);
      padding-right: 0;
    }
  }
}

.header-info-row {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  margin-top: 3px;

  @media (max-width: 998px) {
    display: none;

    &--opened {
      background: #fff;
      padding: 20px;
      margin: 0;
      display: block;
      position: fixed;
      top: 114px;
      left: 0;
      right: 0;
      z-index: 101;

      .header-search {
        width: 100%;
      }

      .header-contacts {
        display: none;
      }

      @media (max-width: 576px) {
        top: 73px;
      }
    }
  }
}

.header-search {
  width: 364px;
  form {
    position: relative;
    input[type="submit"] {
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5002 17.5002L13.881 13.881M13.881 13.881C14.5001 13.2619 14.9912 12.527 15.3262 11.7181C15.6612 10.9093 15.8337 10.0423 15.8337 9.16684C15.8337 8.29134 15.6612 7.42441 15.3262 6.61555C14.9912 5.80669 14.5001 5.07174 13.881 4.45267C13.2619 3.8336 12.527 3.34252 11.7181 3.00748C10.9093 2.67244 10.0423 2.5 9.16684 2.5C8.29134 2.5 7.42441 2.67244 6.61555 3.00748C5.80669 3.34252 5.07174 3.8336 4.45267 4.45267C3.2024 5.70295 2.5 7.39868 2.5 9.16684C2.5 10.935 3.2024 12.6307 4.45267 13.881C5.70295 15.1313 7.39868 15.8337 9.16684 15.8337C10.935 15.8337 12.6307 15.1313 13.881 13.881Z' stroke='%239EB0BE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      width: 44px;
      height: 44px;
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: center;
      padding: 0;
      transition: all .3s ease;

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5002 17.5002L13.881 13.881M13.881 13.881C14.5001 13.2619 14.9912 12.527 15.3262 11.7181C15.6612 10.9093 15.8337 10.0423 15.8337 9.16684C15.8337 8.29134 15.6612 7.42441 15.3262 6.61555C14.9912 5.80669 14.5001 5.07174 13.881 4.45267C13.2619 3.8336 12.527 3.34252 11.7181 3.00748C10.9093 2.67244 10.0423 2.5 9.16684 2.5C8.29134 2.5 7.42441 2.67244 6.61555 3.00748C5.80669 3.34252 5.07174 3.8336 4.45267 4.45267C3.2024 5.70295 2.5 7.39868 2.5 9.16684C2.5 10.935 3.2024 12.6307 4.45267 13.881C5.70295 15.1313 7.39868 15.8337 9.16684 15.8337C10.935 15.8337 12.6307 15.1313 13.881 13.881Z' stroke='%231EBB5F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }

      &:focus {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5002 17.5002L13.881 13.881M13.881 13.881C14.5001 13.2619 14.9912 12.527 15.3262 11.7181C15.6612 10.9093 15.8337 10.0423 15.8337 9.16684C15.8337 8.29134 15.6612 7.42441 15.3262 6.61555C14.9912 5.80669 14.5001 5.07174 13.881 4.45267C13.2619 3.8336 12.527 3.34252 11.7181 3.00748C10.9093 2.67244 10.0423 2.5 9.16684 2.5C8.29134 2.5 7.42441 2.67244 6.61555 3.00748C5.80669 3.34252 5.07174 3.8336 4.45267 4.45267C3.2024 5.70295 2.5 7.39868 2.5 9.16684C2.5 10.935 3.2024 12.6307 4.45267 13.881C5.70295 15.1313 7.39868 15.8337 9.16684 15.8337C10.935 15.8337 12.6307 15.1313 13.881 13.881Z' stroke='%231EBB5F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
    input[type="text"] {
      background-color: transparent;
      padding: 9px 48px 9px 20px;

      &:focus {
        border: 1px solid #1D2935;
      }
    }
  }

  @media (max-width: 1200px) {
    width: 240px;
  }
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;

  a {
    &:not(:last-child) {
      margin-right: 28px;
    }
  }

  &__email {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.14258 7.23129L9.75258 11.1891C9.82891 11.2288 9.91368 11.2496 9.99972 11.2496C10.0858 11.2496 10.1705 11.2288 10.2469 11.1891L17.8569 7.232V14.107C17.8569 14.7 17.63 15.2705 17.2228 15.7015C16.8156 16.1325 16.2589 16.3913 15.6669 16.4249L15.5354 16.4284H4.46401C3.87105 16.4285 3.30056 16.2016 2.86956 15.7944C2.43855 15.3872 2.17972 14.8304 2.14615 14.2384L2.14258 14.107V7.23129ZM4.46401 3.57129H15.5354C16.1284 3.57125 16.6989 3.79811 17.1299 4.20534C17.5609 4.61257 17.8197 5.16928 17.8533 5.76129L17.8569 5.89272V6.02415L9.99972 10.1099L2.14258 6.02415V5.89272C2.14254 5.29976 2.3694 4.72927 2.77663 4.29827C3.18386 3.86727 3.74057 3.60843 4.33258 3.57486L4.46401 3.57129Z' fill='%231EBB5F'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 28px;
    transition: all .3s ease;

    &:hover {
      color: var(--green);
    }
  }

  &__phone {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.51667 8.99167C6.71667 11.35 8.65 13.2833 11.0083 14.4833L12.8417 12.65C13.075 12.4167 13.4 12.35 13.6917 12.4417C14.625 12.75 15.625 12.9167 16.6667 12.9167C16.8877 12.9167 17.0996 13.0045 17.2559 13.1607C17.4122 13.317 17.5 13.529 17.5 13.75V16.6667C17.5 16.8877 17.4122 17.0996 17.2559 17.2559C17.0996 17.4122 16.8877 17.5 16.6667 17.5C12.9094 17.5 9.30609 16.0074 6.64932 13.3507C3.99256 10.6939 2.5 7.09057 2.5 3.33333C2.5 3.11232 2.5878 2.90036 2.74408 2.74408C2.90036 2.5878 3.11232 2.5 3.33333 2.5H6.25C6.47101 2.5 6.68298 2.5878 6.83926 2.74408C6.99554 2.90036 7.08333 3.11232 7.08333 3.33333C7.08333 4.375 7.25 5.375 7.55833 6.30833C7.65 6.6 7.58333 6.925 7.35 7.15833L5.51667 8.99167Z' fill='%231EBB5F'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 28px;
    transition: all .3s ease;

    &:hover {
      color: var(--green);
    }
  }

}

.header-nav {
  display: flex;

  @media (max-width: 998px) {
    display: none;
  }
}

.header-nav-item {
  position: relative;

  &__link {
    font-size: 16px;
    transition: all .3s ease;
    display: inline-flex;
    align-items: center;
    padding: 12px 20px;

    .icon {
      margin-right: 8px;
    }

    &:hover {
      color: var(--green);
    }

    @media (max-width: 1200px) {
      padding: 12px 12px;
    }

    @media (max-width: 998px) {
      width: 100%;
    }
  }

  .btn {
    padding: 12px;
  }

  &--dropdown &__link {
    padding-right: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.25878 9.7585L9.41712 11.9168C9.74212 12.2418 10.2671 12.2418 10.5921 11.9168L12.7504 9.7585C13.2754 9.2335 12.9004 8.3335 12.1588 8.3335H7.84212C7.10045 8.3335 6.73378 9.2335 7.25878 9.7585Z' fill='%23506071'/%3E%3C/svg%3E%0A");
    background-position: calc(100% - 12px) 50%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 4;

    @media (max-width: 1200px) {
      padding-right: 20px;
      background-position: 100% 50%;
    }
  }

  &--dropdown {
    &:hover {
      > .header-nav-item__link {
        z-index: 10;
      }
      .header-nav-dropdown {
        display: block;
      }
    }
  }

  &--last {
    margin-left: auto;

    @media (max-width: 998px) {
      display: none;
    }
  }

  &:not(:last-child) {
    margin-right: 29px;

    @media (max-width: 1200px) {
      margin-right: 0;
    }
  }
}

.header-nav-dropdown {
  display: none;
  position: absolute;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 4px 12px 0 rgba(29, 41, 53, 0.16);
  padding: 50px 0 20px 0 !important;
  top: 0;
  left: 0;
  right: 0;
  min-width: 220px;
  z-index: 5;

  @media (max-width: 1200px) {
    min-width: 160px;
  }

  @media (max-width: 998px) {
    position: static;
    padding: 10px 10px 10px 42px !important;
    box-shadow: none;
    margin-bottom: 30px !important;
    min-width: 100%;
  }
}

.header-nav-subdropdown {
  display: none;
  position: absolute;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 4px 12px 0 rgba(29, 41, 53, 0.16);
  padding: 0 !important;
  top: -10px;
  left: 100%;
  min-width: 250px;
  z-index: 3;

  @media (max-width: 1200px) {
    min-width: 160px;
  }

  @media (max-width: 998px) {
    position: static;
    padding: 10px 10px 10px 42px !important;
    box-shadow: none;
    margin-bottom: 30px !important;
    min-width: 100%;
  }
}

.header-nav-dropdown-item {
  &--dropdown {
    position: relative;

    > .header-nav-dropdown-item__link {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.25878 9.7585L9.41712 11.9168C9.74212 12.2418 10.2671 12.2418 10.5921 11.9168L12.7504 9.7585C13.2754 9.2335 12.9004 8.3335 12.1588 8.3335H7.84212C7.10045 8.3335 6.73378 9.2335 7.25878 9.7585Z' fill='%23506071'/%3E%3C/svg%3E%0A");
      background-position: calc(100% - 2px) 50%;
      background-repeat: no-repeat;
      position: relative;
      z-index: 4;
    }

    &:hover {

      > .header-nav-dropdown-item__link {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.75898 12.7412L11.9173 10.5829C12.2423 10.2579 12.2423 9.73288 11.9173 9.40788L9.75898 7.24955C9.23398 6.72455 8.33398 7.09955 8.33398 7.84122L8.33398 12.1579C8.33398 12.8996 9.23398 13.2662 9.75898 12.7412Z' fill='%231EBB5F'/%3E%3C/svg%3E%0A");
        background-color: rgba(30, 187, 95, 0.12);
        color: #1EBB5F;

        @media (max-width: 1200px) {
          padding-right: 20px;
          background-position: 100% 50%;
        }
      }

      .header-nav-subdropdown {
        display: block;
      }
    }

  }

  &__link {
    transition: all .3s ease;
    line-height: 1.2;
    display: block;
    padding: 16px 20px;

    &:hover {
      color: var(--green)
    }
  }
}

/* -----------> Mobile menu */
.mobile-menu-btn {
  width: 28px;
  height: 32px;
  background: transparent;
  padding: 0;
  border: none;
  display: none;
  margin-left: auto;
  padding-top: 5px;

  div {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background: var(--dark-gray);
    margin: 4px 0;
    transition: all .3s ease;
    position: relative;
  }

  &--opened {
    div {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 4px;
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: -3px;
      }
    }
  }

  @media (max-width: 998px) {
    display: block;
  }
}